* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    background:#f7f1f1;
    font-size:1.1rem;
    font-family:'Quicksand', sans-serif;
    height:100%;
}

.container {
    margin:4rem auto;
    padding:2rem 3rem 3rem;
    max-width:500px;
    background:#FF6666;
    color:#FFF;
    box-shadow:-20px -20px 0 0 rgba(100,100,100,.1);
}

h1 {
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3);
    margin-top: 3rem;
}

ul {
    margin-top:2.6rem;
    list-style:none;
}

li {
    display:flex;
    margin:0 -3rem 4px;
    padding:1.1rem 3rem;
    justify-content:space-between;
    align-items:center;
    background-color: #FFE07D;
    color:#333;
    position: relative;
}

form {
    margin-top:2rem;
    display:flex;
    flex-wrap:wrap;
    position: relative;
}

label {
    min-width:100%;
    margin-bottom:.5rem;
    font-size:1rem;
}

input {
    flex-grow:1;
    border:none;
    background:#f7f1f1;
    padding:0 1.5em;
    font-size:initial;
}

button {
    padding:0 1.3rem;
    background:#FF6666;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    border:1px solid rgba(255,255,255,.3);
    margin-left:5px;
    cursor:pointer;
    transition:background .2s ease-out;
}

button:hover {
    background:#FF5E5E;
}

input, button {
    font-family:'Quicksand', sans-serif;
    height:3rem;
}

.done {
    background-color: #B4ECE9;
    text-decoration: line-through;
}

.error{
    position: absolute;
    bottom: -20px;
    color: #FFE07D;
    font-size: 12px;
}